/* Color Palette KSY
#ffcab1-red
#ede1b1-yellow
#c1d7ae-green
#83bfbb-blue
#ae9eba-purple
*/

/* Global Styles
--------------------*/
body {
font-family: 'Be Vietnam', sans-serif;
margin: 0;
}
h1, h2 {
  font-family: 'Pacifico', cursive;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #ae9eba;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.col-narrow {
  width: 30%;
  float: left;
}
.col-wide {
  width: 65%;
  float: left;
  padding-right: 20px;
}
.uppercase{
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

/* Header and Footer
------------------------*/
header, footer {
  background: #ede1b1;
  color: #83bfbb;
}
/*header*/
.profile-img {
  width: 300px;
  border-radius: 50%;
}
.Download {
  position: absolute;
  bottom: 0;
  right: 0;
}
header {
  text-align: center;
  position: relative;
}
header h1, header h2 {
  color: white;
  margin: 0;
}
/*footer*/
footer {
  text-align: center;
}
.contact-info a {
  padding: 15px;
  font-size: 20px;
  display: inline-block;
}

/*Navigation
----------------------*/
nav{
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
nav a{
  display: inline-block;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 750;
}


/* Work experience
---------------------*/
.work {
  background: #ffcab1;
}
h3 ~ p {
  margin: 0;
}
.description {
  margin-bottom: 20px;
}
.description p:first-of-type {
  margin-top: 0;
}

/* Education
-----------------*/
.education {
  background: #c1d7ae;
}
p + h3 {
  margin-top: 25px;
}

/* skills
----------------*/
.skills {
  background: #83bfbb;
}
